.pesquisa

{
    display: flex;
    padding: 2px;
    position: fixed;
    left: 65%;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
    padding: 20px 20px;
    top: 20px;
}

.cabecalho__titulo {
    font-size: clamp(32px, 2vh + 2vw, 54px);
    color: #eeeeee;
    cursor: pointer;
    font-family: 'Coolvetica', Arial, Helvetica, sans-serif;
}

.cabecalho__pesquisa {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 22vw;
    height: 40px;
    min-width: 200px;
    padding: 0 10px;
    border-radius: 5px;
    background: #eeeeee;
}

.cabecalho__pesquisa-input {
    width: 95%;
    height: 100%;
    border: none;
    background: transparent;
    color: #000;
    font-size: 18px;
    font-weight: 500;
    transition: all ease;
}

.cabecalho__pesquisa-input:focus {
    outline: none;
}

.cabecalho__pesquisa-lupa {
    width: 18.35px;
    height: 19.35px;
    flex-shrink: 0;
    cursor: pointer;
    pointer-events: pointer;
}


.login

{
    margin-left: 15px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background: #4F0006;
    border-radius: 6px;
    color: #fff;
    width: 70px;
    height: 40px;
    display: grid;
    place-content: center;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: .3s cubic-bezier(0.19, 1, 0.22, 1);
}

.login:hover

{
    scale: 1.07;
    box-shadow: 0 0 0 red, 0 0 150px red;
}

@media screen and (min-width: 375px) and (max-width: 1024px) {
    .cabecalho {
        width: 90vw;
    }
    .cabecalho__pesquisa {
        width: 90%;
    }
}

ul

{
    list-style: none;
    display: flex;
}

ul li

{
    text-transform: capitalize;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 5px;
    transition: .2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

ul li:hover

{
    border-bottom: 2px solid white;
    margin-top: -5px;
}