.title

{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Coolvetica', Arial, Helvetica, sans-serif;
    color: #fff;
    padding: 25px 3vw;
    margin-top: 90px;
}

a

{
    text-decoration: none;
    color: #fff;
}

.search_result

{
    opacity: 0;
}

.pesquisaDeFilmes

{
    display: flex;
    flex-direction: column;
}





.populares

{
    font-size: clamp(16px, 2vh + 2vw, 32px);
}


#filmes, .filmesDaPesquisa

{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.filmes, .pesquisaDeFilmes

{
    margin-top: -170px;
    padding: 35px;
    padding-top: 0;
}

.cards {
    background: url(../img/POSTER.jpg);
    background-size: 170px 250px;
    width: 170px;
    height: 250px;
    border-radius: 8px;
}


.card

{
    width: 170px;
    height: 250px;
    margin: 50px 40px;
    transition: .3s cubic-bezier(0.19, 1, 0.22, 1);
}

.card:hover

{
    height: 310px;
    margin-top: -10px;

}
