.title

{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Coolvetica', Arial, Helvetica, sans-serif;
    color: #fff;
    padding: 25px 3vw;
}

a

{
    text-decoration: none;
    color: #fff;
}

.populares

{
    font-size: clamp(16px, 2vh + 2vw, 32px);
}


#filmes

{
    display: flex;
    padding: 35px;
    flex-wrap: wrap;
    width: 100%;
}



.main

{
    width: 170px;
    height: 250px;
    min-width: 170px;
    min-height: 250px;
    position: relative;
    margin: 30px;
    overflow: hidden;
    transition: .2s cubic-bezier(0.215, 0.610, 0.355, 1);
    font-family: 'Coolvetica', Arial, Helvetica, sans-serif;
}


.cards {
    background: url(../img/POSTER.jpg);
    background-size: 170px 250px;
    background-position: top;
    background-repeat: no-repeat;
    width: 170px;
    height: 250px;
    border-radius: 8px;
}


.main:hover

{
    height: 300px;
    margin-top: -20px;
}

.contents

{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.nota, .favoritar

{
    display: flex;
    color: white;
}

.nota-text, .favoritar-text

{
    margin-left: 10px;
}

